{%extends 'blog/base.html'%}
{%load static%}
<!doctype html>

<html lang="en" class="minimal-style is-menu-fixed is-always-fixed is-selection-shareable blog-animated header-light header-small" data-effect="slideUp">
{%block content%}

        <!-- site-main -->
        <div id="main" class="site-main"> <!-- .featured-top -->
            <div class="featured-top">

                <img src="{{ about.image.url }}">
            	
                <!-- .post-thumbnail -->
                <div class="post-thumbnail" style="background-image:url({{ about.image.url }})">
                                          
                    <!-- .entry-header -->
                    <header class="entry-header">
                        
                        <!-- .entry-title -->
                        <h1 class="entry-title">About Me</h1>
                        
                    </header>
                    <!-- .entry-header -->
                    
                </div>
            	<!-- .post-thumbnail -->
                
            </div>
            <!-- .featured-top -->
            
			
			<div class="layout-fixed"> 
                <div id="primary" class="content-area">

                    <!-- site-content -->
                    <div id="content" class="site-content" role="main"> <!-- .hentry -->
                        <article class="hentry page">   
                            
                            <!-- .entry-content -->
                            <div class="entry-content">
                                <p>{{about.Body}}</p>

                                <h4>I am a social person</h4>
                                
                                
                                <p>
                                    <a class="social-link facebook" href="#"></a>
                                    <a class="social-link twitter" href="#"></a>
                                    <a class="social-link linkedin" href="#"></a>
                                    <a class="social-link google-plus" href="#"></a>

                                </p>
                                
                                
                            </div>
                            <!-- .entry-content -->
                            
                            
                        </article>
                        <!-- .hentry -->
                        
                            
                    </div>
                    <!-- site-content -->
            
                </div>
                <!-- primary -->    
            
            
            	
            
            
            </div>
            <!-- layout -->
        
        
        </div>
        <!-- site-main -->
        


</body>
{%endblock%}
</html>
